
<div ng-show="!loading">
<h2 class="bg-success" ng-show="dung">Đúng rồi. Tiếp nào</h2>
<div class="body-top">
	<p>Dịch từ này ra Tiếng Anh:</p>
	<h2>{{ nghia }}</h2>
	<br>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for=""></label>  
	<div class="col-md-4">
		<input id="" name="" type="text" placeholder="Từ" class="form-control input-md" ng-model="dien">
	</div>
	<div ng-show="dung">
		<a href="" class="btn btn-primary btn-default" ng-click="click()" ng-show="soTuDaHoc % 3 !== 0" ><span class="glyphicon glyphicon-saved"></span>Tiếp theo</a>
		<a href="#/" class="btn btn-primary btn-default" ng-show="soTuDaHoc % 3 === 0" ><span class="glyphicon glyphicon-saved"></span>Tiếp theo</a>
	</div>
</div>
